<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <style type="text/css">
                .container{
                    width: 100vw;
                    height: 100vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .container .container__form{
                }

                .form{
                    border: 1px solid black;
                    box-shadow: 2px 4px 4px rgba(0,0,0,0.1);
                    padding: 20px;
                    width: 300px;
                    height: 300px;
                    border-radius: 8px;
                }

                .form .form__input{
                    width: 290px;
                    height: 100px;
                }

                .form .form__output{

                }

            </style>
        {% endblock %}

    </head>
    <body>
        <div class="container">
            <div class="container__form form">
                <textarea id="input" class="form__input" placeholder="Вбиваем сюда маркдаун"></textarea>
                <div class="form__output">
                    <p class="form__output__title">Результат</p>
                    <p id="output" class="form__output__result"></p>
                </div>
            </div>
        </div>



    <script>

        const input = document.getElementById("input");
        const output = document.getElementById("output");

        input.addEventListener("input",onUserInput);

        async function onUserInput(e){
            const text = e.target.value
            output.innerHTML = await getHtmlDataFromMarkDown(text)
        }

        async function getHtmlDataFromMarkDown(text){
            const response = await fetch(`${location.protocol}//${location.host}/markdown`,{
                method: 'POST',
                body: JSON.stringify({
                    text: text
                }),
                headers: {
                    'Content-Type': 'application/json'
                },
            })

            const json = await response.json();
            return json.html;
        }
    </script>
    </body>
</html>
